<!DOCTYPE html>
<html>
<head>
  <title>List of items</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <ul class="list-group">
    <h1>My List</h1>
    <% for(let i=0;i<list.length;i++){%>
    <li class="list-group-item"><%= list[i]%></li>
    <% } %>
  </ul>
</body>
</html>
