<!DOCTYPE html>
<html>
<head>
  <title>card of items</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>My items</h1>
    <div class="row">
      <% for (let i = 0; i < items.length; i++) { %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <p class="card-text"><%= items[i] %></p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>
